html {
  scroll-behavior: smooth;
}
#particles-js {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1; /* stay behind everything */
  background-color: var(--bg-color); /* fallback if particles fail */
}

.nav-item :hover {
  color: black;
}

h2 {
  font-weight: 600;
}

section {
  scroll-margin-top: 50px; /* adjust if you have fixed navbar */
}

.progress {
  height: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
}

.progress-bar {
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 0;
}

.card {
  background-color: transparent;
  border: 1px solid gray;
}

#theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;              /* adjust size as needed */
  height: 36px;
  border-radius: 50%;       /* circular */
  background-color: rgba(108, 117, 125, 0.1);  /* soft light bg */
  transition: background-color 0.3s, box-shadow 0.3s;
}

#theme-toggle:hover {
  background-color: rgba(108, 117, 125, 0.2); /* slightly stronger on hover */
}

/* Dark theme override */
.dark-theme #theme-toggle {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(108, 117, 125, 0.4);
}

.dark-theme #theme-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

/* your-theme.css */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme .nav-link {
  color: white;
}

.dark-theme .nav-item:hover {
  color: gray;
}

.dark-theme .card-title,
.dark-theme .card-subtitle,
.dark-theme .card-text {
  background-color: #121212;
  color: #ffffff;
}
